@media (max-width:746px){
  #imagepart{
    display: none;
  }
  #loginpart h1{
    font-size: 2rem!important;
    line-height: 1rem!important;
  }
  #mainbox > p{
    
  }
  #mainbox{
    height: 400px;
  }
  #loginpart{
    width: 100vw!important;
    height: 100vh;
  }
  html{
    font-size: calc(3vw + 0.5vh);
  }
  nav button{
    display: none;
  }
  
  #email,#password,button{
    border-radius: 0.2rem!important;
    height: calc(5vh + 4vw)!important;
    font-size: 1rem!important;
  }
  #email,#password{
    border:0.5vw solid #8080804f!important;
  }
  #rp,a{
    font-size: 0.7rem;
  }
  #cb
  {
    height: 0.7rem !important;
    width: 0.7rem!important;
  }
}
